In [4]:
x = 2
if x < 2:
    print('small')
elif x < 10:
    print('medium')
elif x < 20:
    print('large')
else:
    print('huge')

medium

In [5]:
# the try and except structure is used when we expect the code to blow up or run into an error.
# When a part of code is included in the "try" block, the python skips that part if it encounters an error
# and executes the code in the "except" block. If there is no error in the "try" block,
# its executed and the "execute" block is neglected. If there are multiple lines in the "try" block
# then all the lines leading up to the on with error will be executed and the "except" block
# will be executed after that.
str = 'bob'
try:
    num = int(str)
except:
    num = 0
print(num)

str = '123'
try:
    num = int(str)
except:
    num = 1
print(num)

0
123

In [7]:
print(99/100)

0.99

In [9]:
def greet(name):
    print('Hello ', name)
greet("ram")

Hello  ram

In [10]:
name = ["raj","leonard","Sheldon","Betty"]
for i in name:
    print(max(i))

r
r
o
y

# string slicing

In [11]:
word = 'Monty Python'
print(word[0:4]) #0 through 4 not including 4
print(word[0:7]) #0 through 7 not including 7
print(word[0:])  #0 through the end
print(word[7:])  #7 through the end
print(word[:])   #from beginning till end

Mont
Monty P
Monty Python
ython
Monty Python

# Using 'in' as a logical operator

In [13]:
fruit= 'banana'
'n' in fruit #checks if the letter 'n' is there in banana and returns True
'm' in fruit # checks if the letter 'm' is there in baanan and returns False
'nana' in fruit # checks if the srting 'nana' is there in banana and returns True

True

In [22]:
x = [1,2,3,4,5]
dir(x)
x

[1, 2, 3, 4, 5]

# Use the 'find' function and slice the string after the colon and convert the number into a floating point number

In [24]:
str = 'X-DSAP Confidence : 0.6789'
spos = str.find(':')
num = str[spos+1:]
num = float(num)
print(num)

0.6789